body {
  background-color: #FFD7D7;
  padding: 0;
  margin: 0;
}

.loginBox {
  position: relative;
  top: 75px;
  background-color: white;
  width: 400px;
  height: 480px;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: auto;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  box-shadow: 3px 0px 12px 3px rgba(0,0,0,0.65);
}

.loginText {
  color: #4E5166;
}

.loginText p {
 margin-top: -20px; 
}

.inputBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

input {
  height: 45px;
  border-radius: 10px;
  width: 380px;
  margin-top: 5px;
  padding-left: 15px;
  border-color: #4E5166;
}

.btn {
  width: 100px;
  padding-right: 10px;
  display: flex;
  height: 45px;
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 15px;
  border-color: #4E5166;
  justify-content: center;
  align-items: center;
  border: 2px solid #4E5166;
  border-bottom: 5px solid;
}

button:active {
  border-bottom: var(--border);
  transform: translateY(5px);
}

button:hover {
  background: #FFD7D7;
}

.createAccount {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.createAccount span {
  font-weight: 700;
  font-size: 1.1em;
}

.createAccount a {
  padding-top: 15px;
  font-weight: 700;
  font-size: 1.2em;
  color: #FD2D01;
}

.Upload {
  position: relative;
  top: 75px;
  background-color: white;
  width: 400px;
  height: 480px;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: auto;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  box-shadow: 3px 0px 12px 3px rgba(0,0,0,0.65);
}

.textPost {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}

input:invalid {
  background-color: pink;
}

.logout {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* homepage css */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post {
  width: 500px;
  max-width: 80%;
  /* height: 500px; */
   background-color: white;
  border: 3px solid #4E5166;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post img {
  height: 50px;
  width: 50px;
}

.home {
  height: auto;
  display: flex;
}

#likeButton {
  font-size: 40px;
  color: #FFD7D7;
}

#likeButton:hover {
  cursor: pointer;
}

#likeButton:active {
  cursor: pointer;
  color: black;
}

.user {
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 15px;
  /* text-decoration: underline; */
  border: 2px solid #FD2D01;
  background-color: #FFD7D7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family:Georgia, 'Times New Roman', Times, serif
}

.userIcon {
  margin-right: 25px;
  margin-left: -25px;
  height: 30px;
  width: 30px;
}

#topArrow {
  height: 50px;
  width: 50px;
  color: black;
  display: flex;
  position: sticky;
  right: 20px;
  bottom: 20px;
  margin-left: auto;
}

#postImage img {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {

  .loginBox {
    max-width: 80%;
    margin-bottom: 120px;
    margin-top: -40px;
    height: 440px;
  }

  .inputBox input {
    width: 97%;
  }

  .inputBoxRegister input {
    width: 100%;
    margin-bottom: 20px;
  }

  #uploadForm {
    max-width: 90%;
    height: 440px;
    padding: 10px;
    margin: 10px;
    margin-top: -40px;
  }

  #uploadForm textarea {
    max-width: 85%;
    margin: 0;
    padding: 0;
  }

  .UploadForm {
    max-width: 100%;
}

}